auto-install-peers=true
# ensure postinstall scripts from dependencies like better-sqlite3 are run
ignore-scripts=false
enable-pre-post-scripts=true
# pre/postscripts don't run when package has been installe to store. This ensures it always runs
side-effects-cache=false
