pnpm-lock.yaml
LICENSE
**/generated
**/.next
**/dist
.gitignore
.gitmodules
.prettierignore
Dockerfile
*.Dockerfile
**/.env.example
**/_dot_gitignore
**/_dot_env.example
**/_dot_env.local
examples/project-foundry/foundry/
