# Mainnet RPC URL used for fetching blockchain data. Alchemy is recommended.
PONDER_RPC_URL_1=https://eth-mainnet.g.alchemy.com/v2/...

# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=