/* CODE COLUMNS STYLES */
.code-columns {
  display: flex;
  flex-direction: row;
  gap: 0rem 1.5rem;
  margin-top: 1.5rem;
}
.code-columns > div {
  width: calc(50% - 0.75rem);
  margin-top: 0rem;
}
@media (max-width: 768px) {
  .code-columns {
    flex-direction: column;
  }
  .code-columns > div {
    width: unset;
  }
}

/* EXCALIDRAW DIAGRAM */
.excalidraw {
  width: 100%;
  height: unset;
  margin-top: 24px;
  margin-bottom: 8px;
}
.dark .excalidraw {
  filter: invert(100%) hue-rotate(180deg);
}
.dark .excalidraw path:first-of-type {
  fill: #eee;
}

/* TELEGRAM LOGO */
.dark .telegram path:first-of-type {
  fill: #fff;
}

/* CAPTION */
.caption {
  color: #6b7280;
  font-size: smaller;
}
.dark .caption {
  color: #737373;
}
.caption > p {
  line-height: 1.5rem;
}

/* SEARCHBAR SPACING */
.nextra-search {
  margin-right: 8px;
}
@media (max-width: 768px) {
  .nextra-search {
    margin-right: 0px;
  }
}
