name: Bench

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  bench:
    name: Bench
    runs-on: self-hosted
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        app_id:
          - "reth"

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: oven-sh/setup-bun@v2

      - run: pnpm build
      - run: pnpm install

      - name: Bench ${{ matrix.app_id }}
        run: |
          cd benchmark
          pnpm benchmark ${{ matrix.app_id }}
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          PONDER_RPC_URL_1: ${{ secrets.PONDER_RPC_URL_1 }}
          PGDATABASE: railway