name: Integration Test

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  integration-test:
    name: Integration Test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        app_id:
          - "assessment"
          - "feature-multichain"
          - "project-uniswap-v3-flash"
          - "reference-erc20"
          - "super-assessment"
          - "uniswap-v4"
          - "the-compact"
          - "basepaint"
        iteration: [0, 1, 2, 3, 4]

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: oven-sh/setup-bun@v2

      - run: pnpm build
      - run: pnpm install

      - name: Test ${{ matrix.app_id }} ${{ matrix.iteration }}
        run: |
          cd integration-test
          SEED=$(openssl rand -hex 32)
          UUID=$(uuidgen)
          pnpm test ${{ matrix.app_id }} -- --log-level warn
        env:
          DATABASE_URL: ${{ secrets.TEST_CONNECTION_STRING }}
          PONDER_RPC_URL_1: ${{ secrets.PONDER_RPC_URL_1 }}
          PONDER_RPC_URL_10: ${{ secrets.PONDER_RPC_URL_10 }}
          PONDER_RPC_URL_130: ${{ secrets.PONDER_RPC_URL_130 }}
          PONDER_RPC_URL_137: ${{ secrets.PONDER_RPC_URL_137 }}
          PONDER_RPC_URL_480: ${{ secrets.PONDER_RPC_URL_480 }}
          PONDER_RPC_URL_8453: ${{ secrets.PONDER_RPC_URL_8453 }}
          PONDER_RPC_URL_42161: ${{ secrets.PONDER_RPC_URL_42161 }}
          PONDER_RPC_URL_81457: ${{ secrets.PONDER_RPC_URL_81457 }}
          PONDER_RPC_URL_84532: ${{ secrets.PONDER_RPC_URL_84532 }}
          PONDER_RPC_URL_11155111: ${{ secrets.PONDER_RPC_URL_11155111 }}
          PONDER_RPC_URL_11155420: ${{ secrets.PONDER_RPC_URL_11155420 }}
          PGDATABASE: postgres
          PGSSLMODE: disable
          NODE_ENV: test
