name: Main

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint
        run: pnpm lint

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build

      - name: Test (types)
        run: pnpm --filter "ponder" test:typecheck
 
  bundle:
    name: Bundle
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build

      - name: Bundle
        run: pnpm --filter "ponder-examples-with-nextjs-frontend" build

  test:
    name: Test [core]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        database: [Postgres, PGlite]
        runtime: [node, bun]
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Postgres
        if: ${{ matrix.database == 'Postgres' }}
        uses: ikalnytskyi/action-setup-postgres@v7
        id: postgres

      - name: Setup
        uses: ./.github/actions/setup

      - name: Setup Bun
        if: ${{ matrix.runtime == 'bun' }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Test
        env:
          DATABASE_URL: ${{ matrix.database == 'Postgres' && steps.postgres.outputs.connection-uri || '' }}
        run: |
          if [ "${{ matrix.runtime }}" = "bun" ]; then
            pnpm --filter @ponder/client build
            pnpm --filter @ponder/utils build
            pnpm --filter "ponder" test:bun
          else
            pnpm --filter "ponder" test
          fi


  test-create-ponder:
    name: Test [create-ponder]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Test
        run: pnpm --filter create-ponder test
        env:
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
